*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: white;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 280px) {
  .component {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 42.5% 60%;
        grid-template-rows: 42.5% 60%;
    min-height: 100vh;
  }
  .component .component-stats-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#977efc), color-stop(90%, #2e2be9), to(#4e21ca));
    background-image: linear-gradient(#977efc, #2e2be9 90%, #4e21ca);
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 3em;
  }
  .component .component-stats-info__header {
    color: #c8c7ff;
    font-size: 1.8rem;
  }
  .component .component-stats-info .performance-stat {
    border-radius: 50%;
    padding: 2.5em 3.75em;
    text-align: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(36, 33, 202, 0)), to(#4e21ca));
    background-image: linear-gradient(to top, rgba(36, 33, 202, 0), #4e21ca);
  }
  .component .component-stats-info .performance-stat__max-score {
    font-size: 1.6rem;
    color: #c8c7ff;
  }
  .component .component-stats-info .performance-stat__max-score--current {
    font-size: 5rem;
    font-weight: 700;
    color: #c8c7ff;
  }
  .component .component-stats-info .result {
    margin: 1em 0;
  }
  .component .component-stats-info .result__info {
    text-align: center;
    color: #ebf1ff;
    font-size: 2.4rem;
    font-weight: 700;
  }
  .component .component-stats-info .result__about {
    margin-top: 0.5em;
    color: #c8c7ff;
    font-size: 1.4rem;
  }
  .component .component-stats-performance {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
}

@media (min-width: 768px) {
  .component {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
    -ms-grid-rows: (2fr)[2];
        grid-template-rows: repeat(2, 2fr);
  }
  .component .component-stats-info, .component .component-stats-performance {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .component .component-stats-performance {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
/*# sourceMappingURL=style.css.map */