*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 280px) {
  .component {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 42.5% 60%;
        grid-template-rows: 42.5% 60%;
    min-height: 100vh;
  }
  .component .component-stats-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#977efc), color-stop(90%, #2e2be9), to(#4e21ca));
    background-image: linear-gradient(#977efc, #2e2be9 90%, #4e21ca);
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 3em;
  }
  .component .component-stats-info__header {
    color: #c8c7ff;
    font-size: 1.8rem;
  }
  .component .component-stats-info .performance-stat {
    border-radius: 50%;
    padding: 2.5em 3.75em;
    text-align: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(36, 33, 202, 0)), to(#4e21ca));
    background-image: linear-gradient(to top, rgba(36, 33, 202, 0), #4e21ca);
  }
  .component .component-stats-info .performance-stat__max-score {
    font-size: 1.6rem;
    color: #c8c7ff;
  }
  .component .component-stats-info .performance-stat__max-score--current {
    font-size: 5rem;
    font-weight: 700;
    color: #c8c7ff;
  }
  .component .component-stats-info .result {
    margin: 1em 0;
  }
  .component .component-stats-info .result__info {
    text-align: center;
    color: #ebf1ff;
    font-size: 2.4rem;
    font-weight: 700;
  }
  .component .component-stats-info .result__about {
    margin-top: 0.5em;
    color: #c8c7ff;
    font-size: 1.4rem;
    text-align: center;
  }
  .component .component-stats-performance {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5em 3em;
  }
  .component .component-stats-performance__header {
    color: #303b5a;
    font-weight: 700;
    margin-top: 0.5em;
  }
  .component .component-stats-performance .performance-stats .memory-section, .component .component-stats-performance .performance-stats .reaction-section, .component .component-stats-performance .performance-stats .verbal-section, .component .component-stats-performance .performance-stats .visual-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2em;
  }
  .component .component-stats-performance .performance-stats .memory-section__memory, .component .component-stats-performance .performance-stats .memory-section__reaction, .component .component-stats-performance .performance-stats .memory-section__verbal, .component .component-stats-performance .performance-stats .memory-section__visual, .component .component-stats-performance .performance-stats .reaction-section__memory, .component .component-stats-performance .performance-stats .reaction-section__reaction, .component .component-stats-performance .performance-stats .reaction-section__verbal, .component .component-stats-performance .performance-stats .reaction-section__visual, .component .component-stats-performance .performance-stats .verbal-section__memory, .component .component-stats-performance .performance-stats .verbal-section__reaction, .component .component-stats-performance .performance-stats .verbal-section__verbal, .component .component-stats-performance .performance-stats .verbal-section__visual, .component .component-stats-performance .performance-stats .visual-section__memory, .component .component-stats-performance .performance-stats .visual-section__reaction, .component .component-stats-performance .performance-stats .visual-section__verbal, .component .component-stats-performance .performance-stats .visual-section__visual {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffb01f;
    font-size: 1.4rem;
    padding: 1.75em 0;
    margin-top: .75em;
  }
  .component .component-stats-performance .performance-stats .memory-section__reaction, .component .component-stats-performance .performance-stats .reaction-section__reaction, .component .component-stats-performance .performance-stats .verbal-section__reaction, .component .component-stats-performance .performance-stats .visual-section__reaction {
    color: #ff5757;
  }
  .component .component-stats-performance .performance-stats .memory-section__verbal, .component .component-stats-performance .performance-stats .reaction-section__verbal, .component .component-stats-performance .performance-stats .verbal-section__verbal, .component .component-stats-performance .performance-stats .visual-section__verbal {
    color: #00bd91;
  }
  .component .component-stats-performance .performance-stats .memory-section__visual, .component .component-stats-performance .performance-stats .reaction-section__visual, .component .component-stats-performance .performance-stats .verbal-section__visual, .component .component-stats-performance .performance-stats .visual-section__visual {
    color: #1125d4;
  }
  .component .component-stats-performance .performance-stats .memory-section__icon, .component .component-stats-performance .performance-stats .reaction-section__icon, .component .component-stats-performance .performance-stats .verbal-section__icon, .component .component-stats-performance .performance-stats .visual-section__icon {
    margin-right: .9em;
  }
  .component .component-stats-performance .performance-stats .memory-section__reaction-count, .component .component-stats-performance .performance-stats .memory-section__memory-count, .component .component-stats-performance .performance-stats .memory-section__verbal-count, .component .component-stats-performance .performance-stats .memory-section__visual-count, .component .component-stats-performance .performance-stats .reaction-section__reaction-count, .component .component-stats-performance .performance-stats .reaction-section__memory-count, .component .component-stats-performance .performance-stats .reaction-section__verbal-count, .component .component-stats-performance .performance-stats .reaction-section__visual-count, .component .component-stats-performance .performance-stats .verbal-section__reaction-count, .component .component-stats-performance .performance-stats .verbal-section__memory-count, .component .component-stats-performance .performance-stats .verbal-section__verbal-count, .component .component-stats-performance .performance-stats .verbal-section__visual-count, .component .component-stats-performance .performance-stats .visual-section__reaction-count, .component .component-stats-performance .performance-stats .visual-section__memory-count, .component .component-stats-performance .performance-stats .visual-section__verbal-count, .component .component-stats-performance .performance-stats .visual-section__visual-count {
    font-size: 1.4rem;
  }
  .component .component-stats-performance .performance-stats .memory-section__reaction-count--maxscore, .component .component-stats-performance .performance-stats .memory-section__memory-count--maxscore, .component .component-stats-performance .performance-stats .memory-section__verbal-count--maxscore, .component .component-stats-performance .performance-stats .memory-section__visual-count--maxscore, .component .component-stats-performance .performance-stats .reaction-section__reaction-count--maxscore, .component .component-stats-performance .performance-stats .reaction-section__memory-count--maxscore, .component .component-stats-performance .performance-stats .reaction-section__verbal-count--maxscore, .component .component-stats-performance .performance-stats .reaction-section__visual-count--maxscore, .component .component-stats-performance .performance-stats .verbal-section__reaction-count--maxscore, .component .component-stats-performance .performance-stats .verbal-section__memory-count--maxscore, .component .component-stats-performance .performance-stats .verbal-section__verbal-count--maxscore, .component .component-stats-performance .performance-stats .verbal-section__visual-count--maxscore, .component .component-stats-performance .performance-stats .visual-section__reaction-count--maxscore, .component .component-stats-performance .performance-stats .visual-section__memory-count--maxscore, .component .component-stats-performance .performance-stats .visual-section__verbal-count--maxscore, .component .component-stats-performance .performance-stats .visual-section__visual-count--maxscore {
    color: #303b5a;
  }
  .component .component-stats-performance__cta {
    padding: 1.75em 0;
    margin-bottom: 2.5em;
    border-radius: 32px;
    border: none;
    background-color: #303b5a;
    color: white;
    letter-spacing: 0.1em;
    font-weight: 700;
    width: 100%;
    -webkit-transition: background-image .3s;
    transition: background-image .3s;
    cursor: pointer;
  }
  .component .component-stats-performance__cta:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2e2be9), to(#977efc));
    background-image: linear-gradient(to top, #2e2be9, #977efc);
  }
  .attribution {
    margin-bottom: 5em;
  }
}

@media (min-width: 768px) {
  .component {
    height: 100vh;
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
    -ms-grid-rows: 20% 60% 20%;
        grid-template-rows: 20% 60% 20%;
  }
  .component .component-stats-info,
  .component .component-stats-performance {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    border-radius: 2em;
  }
  .component .component-stats-info .performance-stat,
  .component .component-stats-performance .performance-stat {
    padding: 5em 6.5em;
  }
  .component .component-stats-info .result__about,
  .component .component-stats-performance .result__about {
    text-align: center;
    padding: 0 4.5em;
  }
  .component .component-stats-performance {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .component .component-stats-performance__header {
    margin-top: 1.5em;
  }
  .component .component-stats-performance .performance-stats {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .component .component-stats-performance__cta {
    padding: 1.5em 2em;
    margin-bottom: 2em;
  }
  .component .component-stats-performance .attribution {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */