@import "./colors";
@import "./font";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  // min-height: 100vh;
  background-color: $white;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: $light;
}
.wrapper {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 280px) {
  .component {
    display: grid;
    grid-template-rows: 42.5% 60%;
    min-height: 100vh;
    .component-stats-info {
      background-image: linear-gradient(
        $lightSlateBlue,
        $lightRoyalBlue 90%,
        $violetBlue
      );
      grid-row: 1/2;
      border-bottom-left-radius: 2em;
      border-bottom-right-radius: 2em;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      padding: 0 3em;
      &__header {
        color: $lightLavender;
        font-size: 1.8rem;
      }
      .performance-stat {
        border-radius: 50%;
        padding: 2.5em 3.75em;
        text-align: center;
        background-image: linear-gradient(to top, $persianBlue, $violetBlue);
        &__max-score {
          font-size: 1.6rem;
          color: $lightLavender;
          &--current {
            font-size: 5rem;
            font-weight: $bold;
            color: $lightLavender;
          }
        }
      }
      .result {
        margin: 1em 0;
        &__info {
          text-align: center;
          color: $paleBlue;
          font-size: 2.4rem;
          font-weight: $bold;
        }
        &__about {
          margin-top: 0.5em;
          color: $lightLavender;
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
    .component-stats-performance {
      grid-row: 2/4;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 0.5em 3em;
      &__header {
        color: $darkGrayBlue;
        font-weight: $bold;
        margin-top: 0.5em;
      }
      .performance-stats {
        .memory-section, .reaction-section, .verbal-section, .visual-section{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2em;
          &__memory, &__reaction,&__verbal, &__visual{
            display: flex;
            align-items: center;
            color: $orangeYellow;
            font-size: 1.4rem;
            padding: 1.75em 0;
            margin-top: .75em;
          }
          &__reaction{
            color: $lightRed;
          }
          &__verbal{
            color: $greenTeal;
          }
          &__visual{
            color: $cobaltBlue;
          }
          &__icon{
            margin-right: .9em;
          }
          &__reaction-count, &__memory-count, &__verbal-count, &__visual-count{
            font-size: 1.4rem;
            &--maxscore{
              color: $darkGrayBlue;
            }
          }
         
        }
      }
      &__cta {
        padding: 1.75em 0;
        margin-bottom: 2.5em;
        border-radius: 32px;
        border: none;
        background-color: $darkGrayBlue;
        color: $white;
        letter-spacing: 0.1em;
        font-weight: $bold;
        width: 100%;
        transition: background-image .3s;
        cursor: pointer;
      }
      &__cta:hover{
        background-image: linear-gradient(to top, $lightRoyalBlue, $lightSlateBlue);
      }
    }
  }
  .attribution{
    margin-bottom: 5em;
  }
}
@media (min-width: 768px) {
  .component {
    height: 100vh;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 20% 60% 20%;
    .component-stats-info,
    .component-stats-performance {
      grid-column: 1/2;
      grid-row: 2/3;
      border-radius: 2em;
     
      .performance-stat{
        padding: 5em 6.5em;
      }
      .result {
        &__about {
          text-align: center;
          padding: 0 4.5em;
        }
      }
    }
    .component-stats-performance {
      grid-column: 2/3;
      display: flex;
      justify-content: space-around;
      align-items: start;
      &__header{
        margin-top: 1.5em;
      }
      .performance-stats {
      width: 100%;
      justify-content: start;     
    }
    &__cta{
      padding: 1.5em 2em;
      margin-bottom: 2.5em;
    }
  }
}
}
